{% extends "_layout" %}
{% set entry = craft.entries.section('servicesLanding').first() %}
{% block content %}


	<section id="services-intro">
	{% set image = entry.headerImage.first() %}
		<span class="svg-image fade-in-slow">
			{{ craft.inlin.er(image.url, true) | raw }}
		</span>
	   		<div class="row pad-top-65 m-pad-top-65 pad-bottom-10 m-pad-bottom-10">
	       	<div class="mobile-one tablet-two"></div>
	       	<div class="mobile-three tablet-two">
	       	<div class="three columns offset-by-three"><h1 class="text-serif text-large fade-in-up">{{ entry.title }}</h1></div>
	       	<div class="four columns end fade-in-up-slow">{{ entry.intro }}</div>
	       	</div>
	       </div>
    </section>

    <section id="services">
        <div class="row">
        	<div class="nine columns centered">
        	 {% for service in craft.entries.section('services').find() %}
        	 <div class="service {% if loop.index is odd %}odd{% else %}even{% endif %}">
               {% if service.serviceType == 'regular' %}
               <div class="service-icon bg-lighter-green">
               		<h3 class="sc">{{ service.title }}</h3>
                     {% set icon = service.serviceIcon.first() %}
           			<span class="icon fadein faster">
           				{{ craft.inlin.er(icon.url, true) | raw }}
           			</span>
               </div>
               {% else %}
               <div class="service-image bg-white">
               		<h3 class="sc green">{{ service.title }}</h3>
						{% set image = service.serviceIconLarge.first() %}
						<div class="service-image-holder fadein faster">
						    <img src="{{ image.url }}" alt="Image for {{service.title}}." />
						</div>
               </div>
               {% endif %}
               <div class="service-text bg-light-green">
               	 	<span class="text-serif text-regular">{{ service.intro }}</span>
               </div>
            </div>
               
            
		{% endfor %}
            
        </div>
    </section>

    {% include '_includes/request-callback' %}

{% endblock %}