{# About #}

{% extends "_layout" %}
{% set bodyClass = "logo-orange-fill" %}
{% block content %}

<div class="page bg-white">

<div class="row pad-top-50 fade-in">
	<div class="twelve columns text-large">
		<p class="wide">At Sonica, we have the highest expectations of ourselves and our work, and complete confidence in our own ability to meet those expectations. That confidence is built on a wealth of expertise in every element of office fit-out from construction to site logistics to tech install. That confidence is built on clear communication, integrity and strong professional relationships. That confidence is built on the knowledge that by pulling in the same direction, our strengths are not just added together, but multiplied. That confidence is built on the experience of 150 completed fit-out projects – and counting.
		</p>
		<p>
			We take pride and satisfaction in doing things the right way and enjoy facing every challenge. <span class="orange">That is what work means to Sonica.</span>
		</p>
	</div>
</div>

<div class="row pad-top-35 fadein fast">
	<div class="four columns">
		<h2 class="orange text-large text-extended">
			Our Approach
		</h2>
	</div>
	<div class="four columns">
		<h3><strong><span class="orange">1. </span>Discovery</strong></h3>
		<p>A great office fit-out begins by getting to know you and your unique needs. We believe that by listening to you and asking the right questions we can form an understanding of what your individual project requires.</p>
	</div>
	<div class="four columns">
		<h3><strong><span class="orange">2. </span>Planning</strong></h3>
		<p>When we receive your brief, our first order of business is to assemble an in-house team for your project. We draw on our extensive experience to put together the right staff to handle the individual complexities of your fit-out, before formulating an execution plan and setting delivery targets in stone.
		</p>
	</div>
	</div>
<div class="row pad-top-5 fadein fast">
	<div class="four columns">
		<h3><strong><span class="orange">3. </span>Costing</strong></h3>
		<p>We have an extensive roster of sub-contract partners from whom we assemble the right team for the parameters of your job. Sonica’s Surveying Team then analyses the costings provided by our partners to produce a detailed budget recommendation, which we will present to you to review and sign-off.
		</p>
		<p>The whole process is transparent and allows you to retain complete control of expenditure.
		</p>
	</div>
	<div class="four columns">
		<h3><strong><span class="orange">4. </span>Construction</strong></h3>
		<p>Before any trade works begin on your site, we organise a ramp-up period. This helps us ensure that all our partners begin your project with clarity of purpose, and helps us maintain our impeccable safety record.
		</p>
		<p>Once works begin, our Site Operations Team will provide you with comprehensive weekly reports detailing construction progress and cumulative hours that completed accident-free on your site. Completing your project on-time, on-budget, and accident-free is our only objective.
		</p>
	</div>
	<div class="four columns">
		<h3><strong><span class="orange">5. </span>Hand-Over</strong></h3>
		<p>At Sonica, when we handover your project it means it is 100% finished: no snag lists, no late arrivals. We provide pre-handover training for new installation features for you and your staff, and we’re always happy to help you bed into your new work space and deal with any queries you might have.	We believe that diligent organisation is the key to meeting schedules and mitigating against anything getting left behind. 
		</p><p>
		We take pride in making your project our best one yet.
			</p>
	</div>
</div>


<div class="row pad-top-35">
	<div class="four columns fadeup slow">
		<h2 class="orange text-large text-extended">
			Our Team
		</h2>
	</div>
	<div class="six columns offset-by-two end fadeup slow">
		<p>From the boardroom to the job site, every member of the Sonica team is driven by the same motivations: to provide a service that goes beyond our clients expectations, and to always strive to improve what we offer.
		</p>	
		<p>We believe that by creating an environment founded on encouragement and teamwork, we allow our people to do their best work. That’s something that satisfies both our clients and ourselves.
		
		</p>
	</div>
</div>
<div class="row pad-top-15">
<div class="twelve columns">
	<ul class="gridder fadeup fast">
		{% for entry in craft.entries.section('team') %}
			<li class="text-small gridder-list" data-griddercontent="#{{entry.slug}}">
				<img class="" src="{% for asset in entry.portraitImage %}{{ asset.url }}{% endfor %}" alt="{{entry.title}}" />
				<a>{{ entry.title }}</a>
				<br />
				{{ entry.role }}
				<br /><br />
			</li>
		{% endfor %}
	</ul>
</div>
</div>

{% for entry in craft.entries.section('team') %}
<div id="{{entry.slug}}" class="gridder-content">
    <div class="row text-small">
        <div class="three columns">
            <p><span class="orange">My Job</span> {{ entry.myJob }}</p>
        </div>
        <div class="three columns">
            <p><span class="orange">Why Sonica?</span> {{ entry.whySonica }}</p>
           </div>
        <div class="three columns">
            <p><span class="orange">What I Love Doing</span> {{ entry.whatILoveDoing }}</p>
        </div>
        <div class="three columns">
            <a href="mailto:{{ entry.email }}" class="orange">{{ entry.email }}</a>
        </div>
        </div>
    </div>
{% endfor %}


<div class="row pad-top-25">
<div class="twelve columns">
	<a href="#" class="no_ul reveal"><strong>Full Project List</strong></a>
</div>
</div>

<div class="reveal-show">
<div class="row pad-top-5 pad-bottom-15 fadein">
<div class="twelve columns">
<ul class="css-four-columns" id="abcsort">
{% for entry in craft.entries.section('settings') %}
{% for row in entry.projectsCompleted %}
    <li><span class="title">{{ row.projectName }}</span></li>
{% endfor %}
{% endfor %}

{% for entry in craft.entries.section('caseStudies').order('title').find() %}
	<li class="show-link"><span class="title">{{ entry.title }}</span><a href="{{ entry.url }}">{{ entry.title }}</a>
	</li>
{% endfor %}
</ul>
</div>
</div>
</div>

</div><!--End Page-->
{% endblock %}