/* @override http://localhost:8888/459001-Sonica/assets/css/app.css */

/* @override http://localhost:8888/109042-3feretail/assets/css/app.css
	http://localhost:8888/109042-3feretail-1/assets/css/app.css
	http://localhost:8888/186007-FMco/assets/css/app.css
	http://localhost:8888/315028-DW-Web/assets/css/app.css
	http://localhost:8888/459001-Sonica/assets/css/app.css */

html, body{
min-height: 100vh;
background-color: #f15a22;
}

hr{
	border: none;
	width: 100%;
	height: 1px;
}
                                                                                                                                                       

.m-block{
	width: 86%;
	display: block;
	clear: both;
	margin-left: 7%;
	}
	
/*------------------------
	Entry
-------------------------*/
.entry-title{
	position: absolute;
	top: 0;
	padding-top: 22vh;
	height: 40vh;
	z-index: 5;
	width: 100%;
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#3f2102+40,000000+84&0.78+9,0+88 */
background: -moz-linear-gradient(top, rgba(63,33,2,0.78) 9%, rgba(63,33,2,0.47) 40%, rgba(0,0,0,0.04) 84%, rgba(0,0,0,0) 88%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, rgba(63,33,2,0.78) 9%,rgba(63,33,2,0.47) 40%,rgba(0,0,0,0.04) 84%,rgba(0,0,0,0) 88%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, rgba(63,33,2,0.78) 9%,rgba(63,33,2,0.47) 40%,rgba(0,0,0,0.04) 84%,rgba(0,0,0,0) 88%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c73f2102', endColorstr='#00000000',GradientType=0 ); /* IE6-9 */}

/*------------------------
	home
-------------------------*/

.bg-fade{
	background: -moz-linear-gradient(top, rgba(63,33,2,0.65) 0%, rgba(0,0,0,0.06) 80%, rgba(0,0,0,0) 88%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, rgba(63,33,2,0.65) 0%,rgba(0,0,0,0.06) 80%,rgba(0,0,0,0) 88%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, rgba(63,33,2,0.65) 0%,rgba(0,0,0,0.06) 80%,rgba(0,0,0,0) 88%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a63f2102', endColorstr='#00000000',GradientType=0 ); /* IE6-9 */

}
.h-100{
	height: 65vh!important;
}
/*------------------------
	Lists
-------------------------*/
ul.dot > li{
margin-bottom: .5em;
}

ul.dot > li::before {
  text-indent: -1em;
  content: "•";
  color: #2ac5f4;
  display: inline-block;
}

ul.red.dot > li::before {
  text-indent: -1em;
  content: "•";
  color: #fe6363;
  display: inline-block;
}

li{
		font-weight: 400;
	
}
/*------------------------
	Inview animations
-------------------------*/

.loaded .fadein{
	opacity: 0;
}

.loaded .fadeup{
	transform: translate(0px, 15px);
	opacity: 0;
}

.faster{
	-webkit-transition:all .1s ease-in;  
	-moz-transition:all .1s ease-in;  
	-o-transition:all .1s ease-in;  
	transition:all .1s ease-in;
}
.fast{
	-webkit-transition:all .2s ease-in;  
	-moz-transition:all .2s ease-in;  
	-o-transition:all .2s ease-in;  
	transition:all .2s ease-in;
}
.slow{
	-webkit-transition:all .5s ease-in;  
	-moz-transition:all .5s ease-in;  
	-o-transition:all .5s ease-in;  
	transition:all .5s ease-in;
}
.slower{
	-webkit-transition:all .8s ease-in;  
	-moz-transition:all .8s ease-in;  
	-o-transition:all .8s ease-in;  
	transition:all .8s ease-in;
}
.slowest{
	-webkit-transition:all 1s ease-in;  
	-moz-transition:all 1s ease-in;  
	-o-transition:all 1s ease-in;  
	transition:all 1s ease-in;
}
.loaded .inview{
	opacity: 1;
    transform: translate(0px, 0px);
	
}




/*------------------------
	Panel
-------------------------*/
.panel{padding: 8px;
  -webkit-box-sizing: border-box; 
  -moz-box-sizing: border-box; 
  box-sizing: border-box;

}

/*------------------------
	inline
-------------------------*/
.inline{
	display: inline!important;
	margin-left: 0!important;
}

/*------------------------
	Header
-------------------------*/
header{
	position: absolute;
	width: 100vw;
	z-index: 10;
}
.sonica-logo{
width: 99%;
margin: auto;
}
.sonica-logo svg{
		padding: 20px 0;
	
}
.logo-orange-fill header .sonica-logo{
	fill: #f15a22;
}
.logo-white-fill header .sonica-logo{
	fill: white;
}
.logo-white-stroke header .sonica-logo{
	stroke: white;
	  stroke-width: .4;
	  fill: none;
	
}
/*------------------------
	inline
-------------------------*/
.inline{
	display: inline!important;
	margin-left: 0!important;
}

/*------------------------
	Wrapper
-------------------------*/
.wrapper{
	min-height: 60vh;
}


/*------------------------
	Colour
-------------------------*/

.orange{	color: #f15a22;	fill: #f15a22;}
.bg-orange{	background-color: #f15a22;}


.black{	color: #343434;}
.bg-black{	background-color: #343434;}

.bg-trans{ 	background-color: none; }



.white, .white:hover, *:hover .white {	color: #fff; fill: #fff;}
.bg-white{	background-color: #fff;}
.border-white, .border-white:hover {
	border: 1px solid white!important;
}


.white p{
}




/*------------------------
images
-------------------------*/
.bg-cover{
	background-size: cover;
}
.bg-home-center{
	background-position: center;
	background-repeat: no-repeat;
	background-size: 55%;
}
.bg-centered{
	background-position: center;
}
.bg-block{
	position: absolute;
	width: 100%;
}
.clear { clear: both; }

/*------------------------
links
-------------------------*/

a{
	text-decoration: none;
	color: inherit;
	border-bottom: 1px solid #f15a22;
	-webkit-transition:all .1s ease-in;  
	-moz-transition:all .1s ease-in;  
	-o-transition:all .1s ease-in;  
	transition:all .1s ease-in;
	  fill: currentColor;
}
a:hover, 
a:focus{
	text-decoration: none;
	color: inherit;
	border-bottom: 2px solid #f15a22;
	
}
.no_ul, 
.no_ul:hover,
.no_ul:focus{
	text-decoration: none;
	border-bottom: none;
}






