/* @override http://localhost:8888/459001-Sonica/assets/css/app.css */

/* @override http://localhost:8888/109042-3feretail/assets/css/app.css
	http://localhost:8888/109042-3feretail-1/assets/css/app.css
	http://localhost:8888/186007-FMco/assets/css/app.css
	http://localhost:8888/315028-DW-Web/assets/css/app.css
	http://localhost:8888/459001-Sonica/assets/css/app.css */

html, body{
min-height: 100vh;
background-color: #f15a22;
}

hr{
	border: none;
	width: 100%;
	height: 1px;
}
                                                                                                                                                       

.m-block{
	width: 99%;
	display: block;
	clear: both;
	margin-left: .5%;
	}
	
/*------------------------
	Entry
-------------------------*/
.lead-image{
	line-height: 0;
	width: 100%;
}

.entry-title{
	position: absolute;
	top: 0;
	height: 40vh;
	z-index: 5;
	width: 100%;
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#231600+40,000000+84&0.7+22,0+88 */
background: -moz-linear-gradient(top, rgba(35,22,0,0.7) 22%, rgba(35,22,0,0.51) 40%, rgba(0,0,0,0.04) 84%, rgba(0,0,0,0) 88%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, rgba(35,22,0,0.7) 22%,rgba(35,22,0,0.51) 40%,rgba(0,0,0,0.04) 84%,rgba(0,0,0,0) 88%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, rgba(35,22,0,0.7) 22%,rgba(35,22,0,0.51) 40%,rgba(0,0,0,0.04) 84%,rgba(0,0,0,0) 88%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b3231600', endColorstr='#00000000',GradientType=0 ); /* IE6-9 */


}

/*------------------------
	home
-------------------------*/
.cover{
	position: absolute;
	top: 0;
	left: 0;
	height: 105vh;
	width: 100%;
	z-index: 9;
	
	-webkit-transition: all 700ms cubic-bezier(0.190, 1.000, 0.220, 1.000); 
	   -moz-transition: all 700ms cubic-bezier(0.190, 1.000, 0.220, 1.000); 
	     -o-transition: all 700ms cubic-bezier(0.190, 1.000, 0.220, 1.000); 
	        transition: all 700ms cubic-bezier(0.190, 1.000, 0.220, 1.000); /* easeOutExpo */
	
	-webkit-transition-timing-function: cubic-bezier(0.190, 1.000, 0.220, 1.000); 
	   -moz-transition-timing-function: cubic-bezier(0.190, 1.000, 0.220, 1.000); 
	     -o-transition-timing-function: cubic-bezier(0.190, 1.000, 0.220, 1.000); 
	        transition-timing-function: cubic-bezier(0.190, 1.000, 0.220, 1.000); /* easeOutExpo */
	        
	        	   -webkit-transition-delay: 3s;
	        	   -moz-transition-delay: 3s;
	        	   -o-transition-delay: 3s;
	        	   transition-delay: 3s;
	        
	
	
}
.loaded .cover{
	height: 0;
}
.cookie .cover{
	display: none;
}
.video-container {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%; 
  overflow: hidden;
}

.video-container video {
  /* Make video to at least 100% wide and tall */
  min-width: 100%; 
  min-height: 100%; 
  
  /* Setting width & height to auto prevents the browser from stretching or squishing the video */
  width: auto;
  height: auto;
  
  /* Center the video */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

  

.bg-fade{
	background: -moz-linear-gradient(top, rgba(63,33,2,0.65) 0%, rgba(0,0,0,0.06) 80%, rgba(0,0,0,0) 88%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, rgba(63,33,2,0.65) 0%,rgba(0,0,0,0.06) 80%,rgba(0,0,0,0) 88%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, rgba(63,33,2,0.65) 0%,rgba(0,0,0,0.06) 80%,rgba(0,0,0,0) 88%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a63f2102', endColorstr='#00000000',GradientType=0 ); /* IE6-9 */

}

.entry-grid{
      background-size: auto 110%;
      background-position: center left 0%;
      -webkit-backface-visibility: hidden;
      backface-visibility: hidden;
      
}
.entry-grid:hover{
      background-size: auto 110%;
       background-position: center left 5%;
      
}
.entry-grid a strong{
	position:relative;
}
.entry-grid a strong::after{
content: "";
width: 0%;
background: #f15a22;
height: 1px;
position: absolute;
bottom: -5px;
left: 0;
-webkit-transition:all .2s ease-in-out;  
-moz-transition:all .2s ease-in-out;  
-o-transition:all .2s ease-in-out;  
transition:all .2s ease-in-out;
}

.entry-grid:hover a strong::after{
content: "";
width: 100%;


}
.h-100{
	height: 65vh!important;
}
/*------------------------
	Lists
-------------------------*/
ul.dot > li{
margin-bottom: .5em;
}

ul.dot > li::before {
  text-indent: -1em;
  content: "•";
  color: #2ac5f4;
  display: inline-block;
}

ul.red.dot > li::before {
  text-indent: -1em;
  content: "•";
  color: #fe6363;
  display: inline-block;
}

li{
		font-weight: 400;
	
}


/*------------------------
	Inview animations
-------------------------*/

.loaded .fadein{
	opacity: 0;
}

.loaded .fadeup{
	transform: translate(0px, 15px);
	opacity: 0;
}

.faster{
	-webkit-transition:all .1s ease-in-out;  
	-moz-transition:all .1s ease-in-out;  
	-o-transition:all .1s ease-in-out;  
	transition:all .1s ease-in-out;
}
.fast{
	-webkit-transition:all .2s ease-in-out;  
	-moz-transition:all .2s ease-in-out;  
	-o-transition:all .2s ease-in-out;  
	transition:all .2s ease-in-out;
}
.slow{
	-webkit-transition:all .5s ease-in-out;  
	-moz-transition:all .5s ease-in-out;  
	-o-transition:all .5s ease-in-out;  
	transition:all .5s ease-in-out;
}
.slower{
	-webkit-transition:all .8s ease-in-out;  
	-moz-transition:all .8s ease-in-out;  
	-o-transition:all .8s ease-in-out;  
	transition:all .8s ease-in-out;
}
.slowest{
	-webkit-transition:all 1s ease-in-out;  
	-moz-transition:all 1s ease-in-out;  
	-o-transition:all 1s ease-in-out;  
	transition:all 1s ease-in-out;
}
.loaded .inview{
	opacity: 1;
    transform: translate(0px, 0px);
	
}



/*------------------------
	Panel
-------------------------*/
.panel{padding: 8px;
  -webkit-box-sizing: border-box; 
  -moz-box-sizing: border-box; 
  box-sizing: border-box;

}

/*------------------------
	inline
-------------------------*/
.inline{
	display: inline;
	margin-right: 2%;
}
.inline-left{
	display: inline;
	margin-right: 2%;
}
.inline-right{
	display: inline;
	margin-left: 2%;
}


/*------------------------
	Header
-------------------------*/
header{
	position: absolute;
	width: 100vw;
	z-index: 10;
}
.nav{
	position: fixed;
	width: 100%;
	z-index: 10;
}
.sonica-logo{
padding-top: 4vh;
width: 99%;
margin: auto;
}
/*
.home .sonica-logo{
padding-top: 35vh;

-webkit-transition:all .2s ease-out;  
-moz-transition:all .2s ease-out;  
-o-transition:all .2s ease-out;  
transition:all .2s ease-out;

-webkit-transition-delay: 3s;
-moz-transition-delay: 3s;
-o-transition-delay: 3s;
transition-delay: 3s;

}

.home.cookie .sonica-logo, 
.cookie .sonica-logo{
padding-top: 3vh;
}
*/
.sonica-logo a svg{
	padding-bottom: 20px;
	padding-top: 10px;
}
.logo-orange-fill header .sonica-logo a{
	fill: #f15a22;
}
.logo-white-fill header .sonica-logo a{
	fill: white;
}
.logo-white-stroke header .sonica-logo a{
	stroke: white!important;
	  stroke-width: .4;
	  fill: none;
	
}


/*------------------------
	Wrapper
-------------------------*/
.wrapper{
	min-height: 60vh;
}


/*------------------------
	Colour
-------------------------*/

.orange{	color: #f15a22;	fill: #f15a22;}
.bg-orange{	background-color: #f15a22;}

.hasSelectedItem .gridder-list.selectedItem{
	color: #f15a22!important;
}

.black{	color: #343434;}
.bg-black{	background-color: #343434;}

.bg-trans{ 	background-color: none; }



.white, .white:hover, *:hover .white {	color: #fff; fill: #fff;}
.bg-white{	background-color: #fff;}
.border-white, .border-white:hover {
	border: 1px solid white!important;
}


.white p{
}




/*------------------------
images
-------------------------*/
.bg-cover{
	background-size: cover;
}
.bg-home-center{
	background-position: center;
	background-repeat: no-repeat;
	background-size: 55%;
}
.bg-centered{
	background-position: center;
}
.bg-block{
	position: absolute;
	width: 100%;
}
.clear { clear: both; }

/*------------------------
links
-------------------------*/

a{
	text-decoration: none;
	color: inherit;
	border-bottom: 1px solid #f15a22;
	-webkit-transition:all .1s ease-in-out;  
	-moz-transition:all .1s ease-in-out;  
	-o-transition:all .1s ease-in-out;  
	transition:all .1s ease-in-out;
}
a:hover, 
a:focus{
	text-decoration: none;
	color: inherit;
	border-bottom: 2px solid #f15a22;
	
}
.no_ul, 
.no_ul:hover,
.no_ul:focus{
	text-decoration: none;
	border-bottom: none;
}

/*------------------------
ABC sort
-------------------------*/

.show-link .title{
	display: none;
}

/*------------------------
Square
-------------------------*/
.square::after{
	content: "";
	display: block;
	padding-bottom: 100%;
}

/*------------------------
images
-------------------------*/
.image-grid{
	width: calc(100% + 18px);
}
.image-grid li a{
margin-right: 18px;
margin-bottom: 18px;
background-size: cover;
background-position: center;
}

.image-grid li a::before{
content: '+ Enlarge';
position: absolute;
background: rgba(241, 89, 33, 0.5);
color: white;
font-size: 14px;
border-radius: 25px;
padding: 2px 15px;
margin: 12px;
bottom: 0;
font-weight: 600;
-webkit-transition:all .1s ease-in-out;  
-moz-transition:all .1s ease-in-out;  
-o-transition:all .1s ease-in-out;  
transition:all .1s ease-in-out;
	opacity: 0;
}
.image-grid li a:hover::before{
	opacity: 1;
}

/*
.image-grid li{
	width: calc(33.333% - 18px);
	float: left;
	position: relative;
}
.image-grid li:after {
  content: "";
  display: block;
  padding-bottom: 100%;}
  -------------------------*/
  
  
  .image-grid li:nth-child(1n+0) a,
  .image-grid li:nth-child(3n+0) a
  {
	width: calc(33.333% - 18px);
	float: left;
	position: relative;
  }
  .image-grid li:nth-child(2n+0) a
  {
  	width: calc(66.666% - 18px);
  	float: right;
  	position: relative;
  }
  .image-grid li:nth-child(4n+0) a
  {
  	width: calc(100% - 18px);
  	float: left;
  	position: relative;
  }
	.image-grid li:nth-child(1n+0) a:after,
	.image-grid li:nth-child(2n+0) a:after {
	content: "";
	display: block;
	padding-bottom: 100%;
	}
	.image-grid li a:after {
	content: "";
	display: block;
	padding-bottom: 100%;
	}
	.image-grid li:nth-child(4n+0) a:after {
	content: "";
	display: block;
	padding-bottom: 66%;
	}


/*1*/
.image-grid.images-1 li a
{
	width: calc(100% - 18px);
	float: left;
	position: relative;
}
.image-grid.images-1 li a:after {
content: "";
display: block;
padding-bottom: 66%;
}

/*2*/
.image-grid.images-2 li a
{
	width: calc(50% - 18px);
	float: left;
	position: relative;
}

.image-grid.images-1 li a:after {
content: "";
display: block;
padding-bottom: 100%;
}
      
      

/*5*/
.image-grid.images-5 li:nth-child(4n+0) a,
.image-grid.images-5 li:nth-child(5n+0) a
{
	width: calc(50% - 18px);
	float: left;
	position: relative;
}

.image-grid.images-5 li:nth-child(4n+0) a:after {
content: "";
display: block;
padding-bottom: 100%;
}
      
      
/*6*/
.image-grid.images-6 li:nth-child(5n+0) a,
.image-grid.images-6 li:nth-child(6n+0) a
{
	width: calc(50% - 18px);
	float: left;
	position: relative;
}

/*9*/
.image-grid.images-9 li:nth-child(8n+0) a,
.image-grid.images-9 li:nth-child(9n+0) a
{
	width: calc(50% - 18px);
	float: left;
	position: relative;
}
.image-grid.images-9 li:nth-child(8n+0) a:after {
content: "";
display: block;
padding-bottom: 100%;
}
      
/*10*/
.image-grid.images-10 li:nth-child(9n+0) a,
.image-grid.images-10 li:nth-child(10n+0) a
{
	width: calc(50% - 18px);
	float: left;
	position: relative;
}

/*13*/
.image-grid.images-13 li:nth-child(12n+0) a,
.image-grid.images-13 li:nth-child(13n+0) a
{
	width: calc(50% - 18px);
	float: left;
	position: relative;
}
.image-grid.images-13 li:nth-child(12n+0) a:after {
content: "";
display: block;
padding-bottom: 100%;
}

/*14*/
.image-grid.images-14 li:nth-child(13n+0) a,
.image-grid.images-14 li:nth-child(14n+0) a
{
	width: calc(50% - 18px);
	float: left;
	position: relative;
} 
    

/*17*/
.image-grid.images-17 li:nth-child(16n+0) a,
.image-grid.images-17 li:nth-child(17n+0) a
{ 
	width: calc(50% - 18px);
	float: left;
	position: relative;
}      
.image-grid.images-17 li:nth-child(16n+0) a:after {
content: "";
display: block;
padding-bottom: 100%;
}



/*18*/
.image-grid.images-18 li:nth-child(17n+0) a,
.image-grid.images-18 li:nth-child(18n+0) a
{
	width: calc(50% - 18px);
	float: left;
	position: relative;
} 
      
/*21*/
.image-grid.images-21 li:nth-child(20n+0) a,
.image-grid.images-21 li:nth-child(21n+0) a
{
	width: calc(50% - 18px);
	float: left;
	position: relative;
}      
.image-grid.images-21 li:nth-child(20n+0) a:after {
content: "";
display: block;
padding-bottom: 100%;
}

/*22*/
.image-grid.images-22 li:nth-child(21n+0) a,
.image-grid.images-22 li:nth-child(22n+0) a
{
	width: calc(50% - 18px);
	float: left;
	position: relative;
} 






@media only screen and (max-width: 768px) {
.m-block{
	width: 94%;
	display: block;
	clear: both;
	margin-left: 3%;
	}
/*------------------------
	inline
-------------------------*/
.inline{
	display: inline;
	margin-right: 1%;
}

.inline-left{
	display: inline;
	margin-right: 1%;
}
.inline-right{
	display: inline;
	margin-left: 1%;
}

.logo-white-stroke header .sonica-logo a{
	stroke: white!important;
	  stroke-width: .9;
	  fill: none;
	
}
.image-grid li a::before{
content: '+ Enlarge';
position: absolute;
background: rgba(241, 89, 33, 0.5);
color: white;
font-size: 12px;
border-radius: 25px;
padding: 2px 15px;
margin: 6px;
bottom: 0;
font-weight: 600;
-webkit-transition:all .1s ease-in-out;  
-moz-transition:all .1s ease-in-out;  
-o-transition:all .1s ease-in-out;  
transition:all .1s ease-in-out;
	opacity: 0;
}

}