
@font-face {
	font-family: 'fmco-leitura';
	src: url('../fonts/354307_0_0.eot');
	src: url('../fonts/354307_0_0.eot?#iefix') format('embedded-opentype'),
		url('../fonts/354307_0_0.woff2') format('woff2'),
		url('../fonts/354307_0_0.woff') format('woff'),
		url('../fonts/354307_0_0.ttf') format('truetype')
		;
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: 'fmco-leitura';
	src: url('../fonts/354307_1_0.eot');
	src: url('../fonts/354307_1_0.eot?#iefix') format('embedded-opentype'),
		url('../fonts/354307_1_0.woff2') format('woff2'),
		url('../fonts/354307_1_0.woff') format('woff'),
		url('../fonts/354307_1_0.ttf') format('truetype');
	font-weight: 400;
	font-style: italic;
}
@font-face {
	font-family: 'fmco-leitura';
	src: url('../fonts/354307_2_0.eot');
	src: url('../fonts/354307_2_0.eot?#iefix') format('embedded-opentype'),
		url('../fonts/354307_2_0.woff2') format('woff2'),
		url('../fonts/354307_2_0.woff') format('woff'),
		url('../fonts/354307_2_0.ttf') format('truetype');
	font-weight: 600;
	font-style: normal;
}
