/* @override https://3feretail.workgroupstaging.com/assets/css/type.css
	http://localhost:8888/109042-3feretail/assets/css/type.css
	http://localhost:8888/186007-FMco/assets/css/type.css
	http://localhost:8888/315028-DW-Web/assets/css/type.css */

/* @override 
	http://localhost:8888/109042-3fe-retail/assets/css/type.css */


body {
	font-family: 'Nitti Grotesk','Proxima Nova', 'Helvetica Neue', Arial, sans-serif;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	-moz-osx-font-smoothing: grayscale;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	line-height: 34px;
	font-size: 24px;
	
}
.text-mono {
	font-family: 'Nitti', Georgia, serif;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	-moz-osx-font-smoothing: grayscale;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	line-height: 24px;
	font-size: 13.5px;
	
}
p {
width: 95%;
hanging-punctuation: first;
}
.text-serif p, 
p.text-serif{
	
}
.text-centered p{
width: 100%;
}
.page p{
	margin-bottom: 1em;
	
}

i,
em {
	font-style: italic
}
b,
strong {
	font-weight: 600;
}
.text-centered {
	text-align: center;
		width: 100%!important;
	
}
.text-right {
	text-align: right;
}


.sc {
	font-size: 14px;
	text-transform: uppercase;
	letter-spacing: 2px;
		font-weight: 500;
	
}



form input[type="text"],
form input[type="email"],
form textarea,
.text-reg,
.text-reg ul,
ul.text-reg li,
.text-reg a,
.text-reg p,
.text-reg span,
.text-reg button {
	line-height: 1.6;
	font-size: 15px;
}
p.text-small,
.text-small,
.text-small ul,
ul.text-small li,
.text-small a,
.text-small p,
.text-small span {
line-height: 24px;
font-size: 16px;
font-weight: 500;
}
p.text-regular,
.text-regular,
.text-regular ul,
ul.text-regular li,
.text-regular a,
.text-regular p,
.text-regular span {
line-height: 29px;
font-size: 17px;
}
p.text-medium,
.text-medium,
.text-medium ul,
ul.text-medium li,
.text-medium a,
.text-medium p,
.text-medium span {
	line-height: 62px;
	font-size: 48px;
	
}
p.text-large,
.text-large,
.text-large ul,
ul.text-large li,
.text-large a,
.text-large p,
.text-large span,


p.text-xlarge,
.text-xlarge,
.text-xlarge ul,
ul.text-xlarge li,
.text-xlarge a,
.text-xlarge p,
.text-xlarge span {
line-height: 88px;
font-size: 96px;
font-weight: 300;
margin-left: -.5%;
	
}



ul.dash{
	list-style-type:square
}




@media (max-width: 768px) {
	body{
		font-size: 18px;
		line-height: 28px;
	}
	.m-text-regular li{
	width: 80%;
	}
	.m-text-centered{
		text-align: center;
	}
	.m-text-left{
		text-align: left;
	}
	.m-text-right{
		text-align: right;
	}
	.sc {
			font-weight: 800;
		
	}
	h1{
		font-weight: 600;
	}
	h2.sc {
			font-size: 11px;
		font-weight: 600;
		
	}
	
	
	form input[type="text"],
	form input[type="email"],
	form textarea,
	.text-reg,
	.text-reg ul,
	ul.text-reg li,
	.text-reg a,
	.text-reg p,
	.text-reg span,
	.text-reg button {
		line-height: 1.6;
		font-size: 12px;
	}
	
	.text-small,
	.text-small ul,
	ul.text-small li,
	.text-small a,
	.text-small p,
	.text-small span {
	line-height: 20px;
	font-size: 8px;
	font-weight: 500;
	}
	.m-text-regular,
	.m-text-regular ul,
	ul.m-text-regular li,
	.m-text-regular a,
	.m-text-regular p,
	.m-text-regular span,
	p.m-text-regular,
	
	.text-regular,
	.text-regular ul,
	ul.text-regular li,
	.text-regular a,
	.text-regular p,
	.text-regular span{
	line-height: 28px;
	font-size: 18px;
			
		}
		
		
	.text-medium,
	.text-medium ul,
	ul.text-medium li,
	.text-medium a,
	.text-medium p,
	.text-medium span {
line-height: 34px;
font-size: 32px;
		text-align: left;
	}
	.text-large,
	.text-large ul,
	ul.text-large li,
	.text-large a,
	.text-large p,
	.text-large span, 
	
		
	.text-xlarge,
	.text-xlarge ul,
	ul.text-xlarge li,
	.text-xlarge a,
	.text-xlarge p,
	.text-xlarge span
	{
		font-size: 50px;
		line-height: 58px;
	}
	
	.text-xxlarge,
	.text-xxlarge ul,
	ul.text-xxlarge li,
	.text-xxlarge a,
	.text-xxlarge p,
	.text-xxlarge span,
	
	.text-xxxlarge,
	.text-xxxlarge ul,
	ul.text-xxxlarge li,
	.text-xxxlarge a,
	.text-xxxlarge p,
	.text-xxxlarge span {
font-size: 32px;
line-height: 1;
margin-left: -.5%;
max-width: 90%;
	}
	
	
	
	}

