{#
 # Homepage template
 # ---------------
 #
 # When this template gets loaded, it will be because someone has accessed
 # http://yoursite.com/ (without any URI). Craft checks to see if you have
 # a Single section set to be the Homepage (as you do, by default), and
 # loads the section’s Template (this file). A special ‘entry’ variable
 # will already be set for you, assigned to the Homepage entry.
 #
 # It's worth noting that even if you didn't have a Homepage Single section,
 # as long as this template remains at craft/templates/index.html, it
 # would still be the one to get loaded when accessing http://yoursite.com/,
 # albeit without an ‘entry’ variable already set for you.
 #
 # See this page for more details on how Craft routes requests:
 # http://craftcms.com/docs/routing
 #}

{% extends "_layout" %}

{% set bodyClass = "logo-white-fill" %}

{% block content %}

<div class="page">

<div class="row vh-100">
adf
</div>

<div id="newsPage" class="container">
<div class="row" id="newsRow">
{% paginate craft.entries.section('caseStudies').limit(4) as entriesOnPage %}
    {% for entry in entriesOnPage %}
    <div class="six columns vh-15">
        <div class="item">
            <div class="entry">
                <h2>{{ entry.title }}</h2>
                
            </div>
        </div>
    </div>
    {% endfor %}

    {% if paginate.nextUrl %}
    <div class="pagination">
        <a href="{{ paginate.nextUrl }}">Next Page</a>
    </div>
    {% endif %}

{% endpaginate %}                                           
</div>
</div>

{#

<div class="row">
	<ul class="block-grid two-up mobile">
		<li class="vh-65 bg-white"><div class="row pad-top-1"><div class="nine columns end"><h1 class="text-xlarge orange text-extended">Expect more from your fit-out contractor.</h1></div></div></li>
	{% for entry in craft.entries.section('caseStudies') %}
		<li class="vh-65 bg-cover bg-centered" style="background-image: url('{% for asset in entry.leadImage %}{{ asset.url('webMedium') }}{% endfor %}');" >
		<a href="{{ entry.url }}" class="vh-65">
		<div class="row white bg-fade vh-55 pad-top-2">
			<div class="five columns"><strong>{{ entry.title }}</strong></div>
			<div class="five columns offset-by-one end"><strong>{{ entry.location }}</strong></div>
		</div>
		</a>
		</li>
	{% endfor %}
	</ul>
</div>
</div>
#}

{% if craft.request.pageNum==1 %}

{% paginate craft.entries.section('news').limit(3) as entriesOnPage %}
{% if paginate.nextUrl %}
<script src="{{ siteUrl }}assets/js/infinite-scroll.pkgd.min.js"></script>
<script type="text/javascript">
$('#newsPage').infinitescroll({
 navSelector  : "div.pagination",            
 nextSelector : "div.pagination a:first",    
 itemSelector : "#newsPage>div.row",
 maxPage      : {{paginate.totalPages}},
});
</script>
{% endif %}
{% endpaginate %}   

{% endif %}


{% endblock %}
