{# Case Study #}

{% extends "_layout" %}
{% set bodyClass = "logo-white-stroke" %}
{% block content %}

<div class="page bg-white">

<img class="" src="{% for asset in entry.leadImage %}{{ asset.url('webLarge') }}{% endfor %}" alt="{{entry.title}}" width="100%" style="background-color: #ccc;min-height: 100vh;"/>



<div class="entry-title white">
	<div class="row">
		<div class="three columns"><strong>{{entry.title}}</strong></div>
		<div class="two columns end"><strong>{{entry.location}}</strong></div>
	</div>
</div>

<div class="row">
	<div class="six columns">
		{{entry.details}}
	</div>
	<div class="four columns offset-by-two fadeup slower">
		<p class="orange text-medium">{{entry.quote}}</p>
		<br />
		<span class="text-small">{{entry.quoteAttribution}}</span>
	</div>
</div>
	
<div class="row pad-top-15 text-small">
	<div class="three columns fadein fast">
		<h3><strong>Size</strong></h3>
		{{entry.size}}
	</div>
	<div class="three columns fadein ">
		<h3><strong>Timescale</strong></h3>
		{{entry.timescale}}
	</div>
	<div class="three columns fadein slow end">
		<h3><strong>Features</strong></h3>
		{{entry.features}}
	</div>
	
</div>
	
<div class="row pad-top-15">
<div class="twelve columns">
	{% set numberOfPhotos = entry.projectImages|length %}
	<ul class="image-grid images-{{numberOfPhotos}}" id="lightgallery">
	{% for asset in entry.projectImages %}
	<li>
	<a href="{{ asset.url('webMedium') }}" style="background-image: url('{{ asset.url('webMedium') }}');" class="fadeup slow no_ul lg-link"></a>
	</li>
	{% endfor %}	
	</ul>
</div>
</div>
	
</div><!--End Page-->
<div class="pad-top-30 bg-white"></div>

{% endblock %}