<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en-US">
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	{% hook 'seomaticRender' %}
<link href="https://fonts.googleapis.com/css?family=Montserrat:400,400i,500,700" rel="stylesheet">

	<link rel="stylesheet" href="{{ siteUrl }}assets/css/font.css">
	<link rel="stylesheet" href="{{ siteUrl }}assets/css/reset.css">
	<link rel="stylesheet" href="{{ siteUrl }}assets/css/animations.css">
	<link rel="stylesheet" href="{{ siteUrl }}assets/css/vh.css">
	<link rel="stylesheet" href="{{ siteUrl }}assets/css/mobile.css">
	<link rel="stylesheet" href="{{ siteUrl }}assets/css/type.css">
	<link rel="stylesheet" href="{{ siteUrl }}assets/css/grid-twelve.css" />
	<link rel="stylesheet" href="{{ siteUrl }}assets/css/form.css" />
	<link rel="stylesheet" href="{{ siteUrl }}assets/css/gridder.css" />
	<link rel="stylesheet" href="{{ siteUrl }}assets/css/app.css" />
	<!--[if lt IE 9]>
		<link rel="stylesheet" href="{{ siteUrl }}assets/css/ie.css">
	<![endif]-->
	
	<script src="{{ siteUrl }}assets/js/modernizr.foundation.js"></script>
	
	<!-- IE Fix for HTML5 Tags -->
	<!--[if lt IE 9]>
		<script src="{{ siteUrl }}assets/js/html5shiv.min.js"></script>
	<![endif]-->

<!-- Jquery -->
<script src="{{ siteUrl }}assets/js/jquery.min.js"></script>

</head>

<body class="{% if bodyClass is defined %}{{ bodyClass }}{% endif %} topinview">
	<div id="container">

		{% include "_includes/header" %}

		<main id="content">
		<div class="wrapper">
		{% block content %}
		{% endblock %}
		</div>
		</main>

		{% include "_includes/footer" %}

	</div>
	



<!-- inview -->
<script src="{{ siteUrl }}assets/js/jquery.inview.min.js"></script>
<script type="text/javascript">
$('.fadein, .fadeup').bind('inview', function (event, visible, topOrBottomOrBoth) {
  if (visible == true) {
    $(this).addClass( "inview" );
    if (topOrBottomOrBoth == 'top') {
      // top part of element is visible
    } else if (topOrBottomOrBoth == 'bottom') {
      // bottom part of element is visible
    } else {
      // whole part of element is visible
    }
  } else {
    $(this).removeClass( "inview" );
  }
});
</script>


<!-- gridder -->
<script src="{{ siteUrl }}assets/js/jquery.gridder.min.js"></script>
<script>
    jQuery(document).ready(function ($) {
        // Call Gridder
        $(".gridder").gridderExpander({
            scrollOffset: 300,
            scrollTo: "panel", // "panel" or "listitem"
            animationSpeed: 600,
            showNav: false,
            animationEasing: "easeInOutExpo"
             
        });
    });
</script>



<script src="{{ siteUrl }}assets/js/responsiveslides.min.js"></script>
 <script>
    $(function () {

      // Slideshow 1
      $("#homeslide").responsiveSlides({
        speed: 1200,
        timeout: 6200,
        
      });

    });
  </script>


<script>
        $(document).ready(function() {
          $('body').addClass('loaded');
        });    
</script>


<script>
$(document).ready(function () {


        $("#abcsort").html(

            $("#abcsort").children("li").sort(function (a, b) {
    
                return $(a).text().toUpperCase().localeCompare(
    
                $(b).text().toUpperCase());
    
            }) // End Sort

        ); // End HTML 

}); // End Document Ready
    
    </script>



</body>
</html>
