{#
 # Homepage template
 # ---------------
 #
 # When this template gets loaded, it will be because someone has accessed
 # http://yoursite.com/ (without any URI). Craft checks to see if you have
 # a Single section set to be the Homepage (as you do, by default), and
 # loads the section’s Template (this file). A special ‘entry’ variable
 # will already be set for you, assigned to the Homepage entry.
 #
 # It's worth noting that even if you didn't have a Homepage Single section,
 # as long as this template remains at craft/templates/index.html, it
 # would still be the one to get loaded when accessing http://yoursite.com/,
 # albeit without an ‘entry’ variable already set for you.
 #
 # See this page for more details on how Craft routes requests:
 # http://craftcms.com/docs/routing
 #}

{% extends "_layout" %}
{% set bodyClass = "logo-white-fill home" %}

{% block content %}

<div class="page">
<div class="cover bg-orange"></div>

<div class="row vh-95 m-vh-90">
	<div class="video-container">
	<video autoplay muted playsinline loop>
	<source src="{{ siteUrl }}assets/video/sonica-home-15.mp4" type="video/mp4">
	<source src="{{ siteUrl }}assets/video/sonica-home-15.webm" type="video/webm">
	<img src="{{ siteUrl }}assets/video/sonica-home-15.gif" alt="video">
	</video>
	</div>
</div>
<div class="row">
	<ul class="block-grid two-up mobile bg-orange">
		<li class="vh-65 m-vh-35 bg-white"><div class="row pad-top-1 m-pad-top-5"><div class="m-block"><div class="nine columns end"><h1 class="text-xlarge orange text-extended">Expect more from your fit-out contractor.</h1></div></div></div></li>
	{% for entry in craft.entries.section('caseStudies').limit(5) %}
		<li class="vh-65 m-vh-45 entry-grid slow" style="background-image: url('{% for asset in entry.leadImage %}{{ asset.url('homeCrop') }}{% endfor %}');" >
		<a href="{{ entry.url }}" class="vh-65 m-vh-45">
		<div class="row white bg-fade vh-55 m-vh-40 pad-top-2 m-pad-top-2"><div class="m-block">
			<div class="five columns"><strong>{{ entry.title | widont | raw}}</strong></div>
			<div class="five columns offset-by-one end">{{ entry.location | widont | raw}}</div></div>
		</div>
		</a>
		</li>
	{% endfor %}
	{% for entry in craft.entries.section('caseStudies').offset(5) %}
		<li class="vh-65 m-vh-45 entry-grid slow fadein" style="background-image: url('{% for asset in entry.leadImage %}{{ asset.url('homeCrop') }}{% endfor %}');" >
		<a href="{{ entry.url }}" class="vh-65 m-vh-45">
		<div class="row white bg-fade vh-55 m-vh-40 pad-top-2 m-pad-top-2"><div class="m-block">
			<div class="five columns"><strong>{{ entry.title | widont | raw}}</strong></div>
			<div class="five columns offset-by-one end">{{ entry.location | widont | raw}}</div>
			</div>
		</div>
		</a>
		</li>
	{% endfor %}
	
	</ul>
</div>
</div>

{% endblock %}
